<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login and Registration</title>
    <style>
        .register,
        .login {
            display: inline-table;
            margin: 50px 100px;
            border: 2px solid black;
            padding: 50px;
        }
    </style>
</head>

<body>
<h1> Welcome! Sign in to manage your jobs!</h1>
    <div class="register">
        <h3>Register</h3>
        <form action="/register" method="POST">
            {% csrf_token %}
            <p>First Name<input type="text" name="first_name" /></p>
            <p>Last Name<input type="text" name="last_name" /></p>
            <p>Email<input type="email" name="email" /></p>
            <p>Password<input type="text" name="password" /></p>
            <p>Confirm Password<input type="text" name="confirm_pw" /></p>
            <button type="submit">Register</button>
        </form>
    </div>

    <div class="login">
        <h3>Login</h3>
        <form action="/login" method="POST">
            {% csrf_token %}
            <p>Email<input type="email" name="email" /></p>
            <p>Password<input type="text" name="password" /></p>
            <button type="submit">Login</button>
        </form>
    </div>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
            {{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}

</body>

</html>